<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Agenda.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Agenda.Properties.Settings>
            <setting name="LastBonNum" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>Jb1050$$</value>
            </setting>
            <setting name="SettingsPath" serializeAs="String">
                <value>C:\Users\jurre\OneDrive\Projecten\Agenda\Agenda\Agenda\LocalAppSettings\Settings.json</value>
            </setting>
            <setting name="dbPath" serializeAs="String">
                <value>C:\Users\jurre\OneDrive\Projecten\Agenda\Database.accdb</value>
            </setting>
        </Agenda.Properties.Settings>
    </userSettings>
</configuration>